.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
  gap: var(--20x);
}
.about-me-content{
  display: flex;
  gap: var(--8x);
  align-items: center;
}
.about-me-content img{
  width: 40%;

}
.about-me-content p{
  line-height: 1.8rem;
}


@media screen and (max-width: 1024px){

  .about-me{
    padding: var(--10x) 6%;
    gap: var(--5x);
  }
  .about-me-content{
    padding-top: var(--10x);
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--4x);
  }
  .about-me-content img{
    width: 100%;
  }
  .about-me-content p{
    padding: var(--3x);
    line-height: auto;
    background-color: var(--background3);
  }
}
