aside{
    width: 18vw;
    position: fixed;
    height: 100vh;
    display: flex;
    background-color: var(--background2);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--8x) var(--4x);
    padding-bottom: var(--6x);
  }
.resume-profile {
    display: flex;
    flex-direction: column;
    gap: var(--5x);
    color: var(--text-secondary);
    align-items: center;
}

.resume-profile img {
    width: 140px;
    height: 140px;  
    border-radius: 50%;
    object-fit: cover;
    object-align: right;
    border: 2px solid var(--text-primary);
    box-shadow: 0px 0px  12px var(--text-secondary);
}
.resume-profile img:hover{
    border: 2px solid var(--text-primary);
    box-shadow: 0px 0px  20px var(--text-primary);
}
.resume-profile h2 {
    font-size: var(--medium-large);
    text-align: center;
    font-weight: 400;
}
.social-medias-container {
    margin-bottom:var(--1x);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-medias-container a {
    background-color: var(--background3);
    padding: 7px 8px;
    border-radius: 100%;
}
.social-medias-container i {
    margin: 0;
    color: var(--text-primary);
    font-size: var(--medium-large);
}

.social-medias-container a:hover i {
    color: var(--contrast);
}
.aside-links ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--8x);
    padding: var(--3x) 0;
}
.nav-link {
    color: var(--text-primary);
    text-align: left;
    text-decoration: none;
}
.nav-link:hover {
  color: var(--contrast);
}

@media screen and (max-width: 1024px){
   
    aside{
        position: static !important;
        width: 100vw;
        justify-content:center;
        gap: var(--8x);
    }
    .resume-profile{
        gap: var(--15x);
    }
    .resume-profile h2{
        font-size: var(--large);
    }
    .resume-profile img{
        width: 200px;
        height: 200px;
    }
    
    .social-medias-container a{
        padding: 10px 12px;
    }
    .social-medias-container i {
        margin: 0;
        color: var(--text-primary);
        font-size: var(--large);
    }
    .aside-links {
        display: none;
    }
    .aside-footer {
        display: none;
    }
}