.my-network{
  padding-top: var(--10x);
  display: flex;
  flex-direction: column;
  gap: var(--10x);
}
.my-network-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--2x);
}
.my-network-card{
  margin-top: var(--5x);
  width: 324px;
  height: 520px;
  display: grid;
  gap: var(--4x);
  padding: var(--4x);
  background-color: var(--background3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.my-network-card:hover{
  transform: translateY( -10px);
  box-shadow: rgba(0, 0, 0, 0.4) 1px 12px 8px;
}
.my-network-card-head img{
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.my-network-card-head h3{
  margin-top:var(--4x);
}
.my-network-card-content{
  display: flex;
  flex-direction: column;
  gap: var(--2x);
  height: 100%;
}
.my-network-card-content p{
 font-size: var(--medium);
 text-align: justify;
}
.my-network-card-content a{
  background-color: var(--background1);
  text-decoration: none;
  color: var(--text-primary);
  padding: var(--3x) var(--5x);
  width: fit-content;
  justify-self: flex-end;
}
.my-network-card-content a:hover{
  background-color: var(--background2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  
}
@media screen and (max-width: 1024px){
  .my-network{
    padding-top: var(--20x);
    padding-bottom: var(--20x);
  }
  .my-network-content{
    justify-content: space-around;
    
  }
}


